#app-container
	header
		h1 Random Friend

	section
		#image
			img(:src="friend.url")

		#text(:class="{ hidden: !check }")
			span.title-secondary your friend is:
			span.title-primary {{ friend.name }}

		#buttons
			button.button-primary(v-if="!check", @click="sort") Sort a friend
			button.button-secondary(v-else="check", @click="shuffle") Try again
